_site/
.sass-cache
#ignoring bundler generated stuff
vendor/
bundle
ckhordiasma.github.io.geany
drafts/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/