<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144733476-1"></script>
			<script>
		 		 window.dataLayer = window.dataLayer || [];
				 function gtag(){dataLayer.push(arguments);}
				 gtag('js', new Date());
				 gtag('config', 'UA-144733476-1');
			</script>

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to syntax highlighting stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/syntax.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/ckhordiasma">github.com/ckhordiasma</a></li>
					<li><a href="https://www.buymeacoffee.com/ckhordiasma">buy me a coffee</a></li>
					<li>btc/eth/ltc/doge: xoid.eth</li>
				</ul>
			</footer>
		</body>
	</html>
