---
layout: default
---
<!-- adding container here makes it so that my code blocks don't overflow! -->
<div class="container mx-auto">
  <main class="mx-auto">
    <article class="relative pt-5 mx-auto max-w-prose">
      <div class="text-sm leading-6">
        <dl>
          <dt class="sr-only">Date</dt>
          <dd class="text-slate-700 dark:text-slate-400"><time
              datetime="2024-06-21T15:00:00.000Z">{{ page.date | date_to_string }}</time></dd>
        </dl>
      </div>
      <div class="prose prose-zinc dark:prose-invert pt-2">
        <h1 class="text-xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-2xl ">
          {{ page.title}}
        </h1>
        {{ content }}
      </div>
    </article>
  </main>
</div>