---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
Note: This blog post has been manually imported from my old wordpress blog that I used to occasionally update in college. 

  {{ content }}

<!-- disabling comments for wordpress imported posts for now... TODO -->
<!--  <p>
    Have feedback on this post? <a href=https://github.com/ckhordiasma/ckhordiasma.github.io/issues/{{ page.post_id }}>Comment Here</a>
  </p> -->

</div>
