---
layout: default
title: Archived Wordpress Blog Posts
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
      {% if post.layout == "wp_post" %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
      {% endif %}
	  {% endfor %}
	</ul>
    <!-- disabled for wp imported posts, for now... TODO -->
	<!-- <p> Want to give feedback on a blog post? <a href="https://github.com/ckhordiasma/ckhordiasma.github.io/issues?q=is%3Aopen+is%3Aissue+label%3A%22Website+Post%22">Go here</a></p> -->
